
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-navy">
            <div class="inner">
                <h3>@ViewBag.d2</h3>

                <p>Toplam Ürün</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-navy">
            <div class="inner">
                <h3>@ViewBag.d5</h3>

                <p>Toplam Stok</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-red">
            <div class="inner">
                <h3>@ViewBag.d7</h3>

                <p>Kritik Seviye</p>
            </div>
            <div class="icon">
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-gray-dark">
    <div class="inner">
        <h3>@ViewBag.d11</h3>

        <p>Bugünkü Satışlar</p>
    </div>
    <div class="icon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>
</div>
        
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-lightblue">
            <div class="inner">
                <h3>@ViewBag.d1</h3>

                <p>Toplam Cari</p>
            </div>
            <div class="icon">
                <i class="ion ion-person"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-lightblue">
            <div class="inner">
                <h3>@ViewBag.d3</h3>

                <p>Personel Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-orange">
            <div class="inner">
                <h3>@ViewBag.d6</h3>

                <p>Marka Sayısı</p>
            </div>
            <div class="icon">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-indigo">
            <div class="inner">
                <h3>@ViewBag.d4</h3>

                <p>Kategori Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.d9</h3>

                <p>Min Fiyatlı Ürün</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.d8</h3>

                <p>Max Fiyatlı Ürün</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-olive">
            <div class="inner">
                <h3>@ViewBag.d10</h3>

                <p>Kasadaki Tutar</p>
            </div>
            <div class="icon">
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-olive">
            <div class="inner">
                <h3>@ViewBag.d12</h3>

                <p>Bugünkü Kasa</p>
            </div>
            <div class="icon">
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>

